/* 요소 셀렉터(선택자, selector): 태그 이름으로 선택하기 */
body {
	padding: 20px;
}

h1 {
	font-size: 50px;
}

p {
	margin: 30px;
	/* margin-top: 30px; */
	/* margin-bottom: 30px; */
	padding: 20px;
	/* padding-top: 20px; */
	line-height: 1.6;
	/* background: #6abae8; */
	/* background: rgb(255, 0, 0); */
	background: rgba(255, 0, 0, 0.5);
}

/* id 셀렉터 */
/* 페이지에서 딱 1번만 써야 한다 */
#site-name {
	border: 3px solid black;
}

/* class 셀렉터 */
.section-title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	/* font-weight: normal; */
	font-weight: bold;
	border-bottom: 2px dashed gray;
}

.special {
	color: crimson;
}
